<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/music.css">
    <link rel="stylesheet" href="/src/css/navbar.css">
    <link rel="stylesheet" href="/src/css/loader.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Medine</title>
</head>

<body>
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar">

        <div class="button"><i class="fas fa-bars"></i></div>

        <div class="logo">
            <img src="/src/img/yit_logo_white.png" alt="">
        </div>

        <div class="pages">
            <a href="/#" class="page">Anasayfa</a>
            <a href="/#biography" class="page">Hakkımda</a>
            <a href="/#tools" class="page">Araçlar</a>
        </div>

        <div class="social">
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="" class="github"><i class="fab fa-github"></i></a>
        </div>

        <div class="contact">
            <a href="" class="discord"><i class="fab fa-discord"></i> Discord</a>
            <a href="" class="mail"><i class="fas fa-envelope"></i> Email</a>
        </div>

    </div>

    <div class="main">

        <div class="music">
            <div class="song-input">
                <p><i class="fab fa-youtube"></i> YouTube Müzik Yükleyici</p>
                <form action="">
                    <input type="text" id="search" placeholder="Link ya da isim giriniz.">
                </form>
            </div>

            <div class="songs-info">
                <div class="song">
                    <div class="song-img">
                        <img src="https://i.ytimg.com/vi/PDeTO26fRVQ/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAeftYdg4vtudZ7B3a8RGW9cvSXKA"
                            alt="">
                    </div>

                    <div class="song-detail">
                        <div class="title">
                            blackbear - idfc (Lyrics)
                        </div>

                        <div class="detail">
                            <p class="views">Görüntülenme 95238474</p>

                            <p class="duration">Süre 4:07</p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="song-selected">
                <div class="selected-song">
                    <div class="song-img">
                        <img src="https://i.ytimg.com/vi/PDeTO26fRVQ/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAeftYdg4vtudZ7B3a8RGW9cvSXKA"
                            alt="">
                    </div>

                    <div class="song-detail">
                        <div class="title">
                            blackbear - idfc (Lyrics)
                        </div>

                        <div class="detail">
                            <p class="views">Görüntülenme 95238474</p>

                            <p class="duration">Süre 4:07</p>

                        </div>

                    </div>


                </div>
                
                <iframe class="youtube-embed" src="https://www.youtube.com/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <div class="download">İndir</div>
            </div>

            <div class="plswait">
                Müzik indirme işlemi birazdan başlayacak.Lütfen bekleyin.
            </div>

            <div id="particle"></div>

        </div>
    </div>
</body>


<script type="text/javascript" src="/src/utils/vanilla-tilt.js"></script>
<script type="text/javascript" src="/src/utils/particles.js"></script>

<script type="text/javascript" src="/src/js/music.js"></script>
<script type="text/javascript" src="/src/js/navbar.js"></script>
<script type="text/javascript" src="/src/js/loader.js"></script>


</html>