*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  min-width: 215px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.main .error .error-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  padding: 20px;
  height: 275px;
  background-color: darkblue;
  opacity: 0.8;
  z-index: 1;
  border-radius: 5px;
}

.main .error .error-container .error-face,
.main .error .error-container .error-msg {
  color: #fff;
  font-size: 80px;
  opacity: 1 !important;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .error .error-container .error-msg {
  font-size: 13px;
}

.main .error .error-container .error-go-main {
  text-decoration: none;
  padding: 3px;
  background-color: #fff;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.main .error .error-container .error-go-main:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main #particle {
  position: absolute;
  width: 100%;
  height: 100%;
}
